{%extends "base.html"%}

{%block title%}Log in to Genenetwork3{%endblock%}

{%block content%}
{{flash_messages()}}

<h1>Genenetwork3: Admin Log In</h1>

<form method="POST" action="{{url_for('oauth2.admin.login')}}">

  <fieldset>
    <legend>User Credentials</legend>

    <input name="next_uri" type="hidden" value={{next_uri}}>

    <fieldset>
      <label for="txt:email">Email Address</label>
      <input name="email" type="email" id="txt:email" required="required"
	     placeholder="your@email.address" />
    </fieldset>

    <fieldset>
      <label for="txt:password">Password</label>
      <input name="password" type="password" id="txt:password"
	     required="required" />
    </fieldset>
  </fieldset>
  
  <input type="submit" value="log in" />
</form>
{%endblock%}
