{%extends "base.html"%}

{%block title%}Genenetwork3: Admin Dashboard{%endblock%}

{%block pagetitle%}Admin Dashboard{%endblock%}

{%block content%}
{{flash_messages()}}

<ul class="nav">
  <li>
    <a href="{{url_for('oauth2.admin.register_client')}}"
       title="Register a new OAuth2 client.">Register OAuth2 Client</a>
  </li>
  <li>
    <a href="{{url_for('oauth2.admin.list_clients')}}"
       title="List OAuth2 clients.">List OAuth2 Client</a>
  </li>
  <li>
    <a href="{{url_for('oauth2.admin.logout')}}"
       title="Log out of the system.">Logout</a>
  </li>
</ul>
{%endblock%}
