{%extends "base.html"%}

{%block title%}Genenetwork3: OAuth2 Clients{%endblock%}

{%block pagetitle%}OAuth2 Clients{%endblock%}

{%block content%}
{{flash_messages()}}

<table class="table table-hover table-striped cell-border no-footer">
  <caption>List of registered OAuth2 clients</caption>
  <thead>
    <tr>
      <th>Client ID</th>
      <th>Client Name</th>
      <th>Default Redirect URI</th>
      <th>Owner</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    {%for client in clients%}
    <tr>
      <td>{{client.client_id}}</td>
      <td>{{client.client_metadata.client_name}}</td>
      <td>{{client.client_metadata.default_redirect_uri}}</td>
      <td>{{client.user.name}} ({{client.user.email}})</td>
      <td>
	<a href="{{url_for('oauth2.admin.view_client', client_id=client.client_id)}}"
	   title"View/Edit client {{client.client_metadata.client_name}}"
	   class="btn btn-info">
	  View/Edit
	</a>
      </td>
      <td>
	<form id="frm:delete:{{client.client_id}}"
	      action="{{url_for('oauth2.admin.delete_client')}}"
	      method="POST">
	  <input type="hidden" name="client_id" value="{{client.client_id}}" />
	  <input type="submit" value="Delete"
		 title"Delete client {{client.client_metadata.client_name}}"
		 class="btn btn-danger" />
	</form>
      </td>
    </tr>
    {%else%}
    <tr>
      <td colspan="4" style="text-align: center;">
	No registered OAuth2 clients!
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
