{%extends "base.html"%}

{%block title%}Log in to Genenetwork3{%endblock%}

{%block pagetitle%}Admin Log In{%endblock%}

{%block content%}
{{flash_messages()}}

<form method="POST" action="{{url_for('oauth2.admin.login')}}">

  <fieldset>
    <legend>User Credentials</legend>

    <input name="next_uri" type="hidden" value={{next_uri}}>

    <fieldset class="form-group">
      <label for="txt:email" class="form-label">Email Address</label>
      <input name="email" type="email" id="txt:email" required="required"
	     placeholder="your@email.address" class="form-control" />
    </fieldset>

    <fieldset class="form-group">
      <label for="txt:password" class="form-label">Password</label>
      <input name="password" type="password" id="txt:password"
	     required="required" class="form-control" />
    </fieldset>
  </fieldset>
  
  <input type="submit" value="log in" class="btn btn-primary" />
</form>
{%endblock%}
